<html>
  <body>
    #if($error)
     <span style="color: red;">$error</span>
    #end
    <form>
      <input type="text" name="j_username" value="$!j_username"/>
      <input type="password" name="j_password"/>
      <input type="submit" name="login" value="Log in"/>
    </form>
  </body>
</html>